apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: eureka-deployment
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: eureka
        track: stable
    spec:
      containers:
      - name: eureka
        image: 127.0.0.1:34701/sjh/eureka:v3
        ports:
        - containerPort: 18090

---
apiVersion: v1
kind: Service
metadata:
  name: eureka-svc
spec:
  type: NodePort
  selector:
    app: eureka
  ports:
  - protocol: TCP
    port: 18090
    targetPort: 18090
