apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: demo-deployment
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: demo
        track: stable
    spec:
      containers:
      - name: demo
        image: 192.168.0.145:30150/eureka:1.0
        ports:
        - containerPort: 9000

---
apiVersion: v1
kind: Service
metadata:
  name: demo-svc
spec:
  type: NodePort  #这里代表是NodePort类型的
  selector:
    app: demo  #这里选择器一定要选择容器的标签
  ports:
  - protocol: TCP
    port: 9000  #这里的端口,供内部访问。
    targetPort: 9000  #端口一定要和container暴露出来的端口对应
    nodePort: 30006  # 所有的节点都会开放此端口，此端口供外部调用。泛微必须是：30000-32767
